.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 0 2rem;
    @media screen and (max-width : 768px) {
        padding: 2rem;
    
    }
}

.navbar img {
    height: 68px;
    @media screen and (max-width: 768px) {
        height: 40px;
        width: 95px;
       
        

    }
}


    ul {
        display: flex;
        gap: 40px;
        list-style: none;
        @media screen and (max-width: 768px) {
            font-size: 9px;
            padding: 1rem 0rem 0;
        }
        
        a {
            text-decoration: none;
            color:black;

            &.nav-active {
                text-decoration: underline;
              }
            @media screen and (max-width: 768px) {
                text-transform: uppercase;
            }
           
        }
        
    }
